
<!-- Loop over each object in the projects array -->
{{#each matchups as |matchup|}}
<div>
  <h1>{{matchup.artistA}} VS {{matchup.artistB}}</h1>
  <p class='numberOfVotes'>Votes for {{matchup.artistA}}: <span class='votes-count'>{{matchup.votesA}}</span></p>
  <p class='numberOfVotes'>Votes for {{matchup.artistB}}: <span class='votes-count'>{{matchup.votesB}}</span></p>
  <button class= "votes" id='{{matchup.id}}-a' data-matchup ='{{matchup.id}}' data-artistA ='{{matchup.artistA}}'>VOTE {{matchup.artistA}}</button>
  <button class= "votes" id='{{matchup.id}}-b' data-matchup ='{{matchup.id}}' data-artistB ='{{matchup.artistB}}'>VOTE {{matchup.artistB}}</button>
</div> 
{{/each}}
<script src='js/matchup.js'></script>
